import {
  NGX_FW_ASYNC_VALIDATOR_REGISTRATIONS,
  toAsyncValidatorRegistrationMap,
} from '@ngx-formbar/reactive-forms';

export const asyncValidatorRegistrationsProvider = {
  provide: NGX_FW_ASYNC_VALIDATOR_REGISTRATIONS,
  useValue: toAsyncValidatorRegistrationMap({}),
  multi: true,
};
