import { NGX_FW_COMPONENT_REGISTRATIONS, LoadComponentFn } from '@ngx-formbar/core';

export const componentRegistrationsProvider = {
  provide: NGX_FW_COMPONENT_REGISTRATIONS,
  useValue: new Map<string, LoadComponentFn>([
  ])
};
