import {
  NGX_FW_VALIDATOR_REGISTRATIONS,
  toValidatorRegistrationMap,
} from '@ngx-formbar/reactive-forms';

export const validatorRegistrationsProvider = {
  provide: NGX_FW_VALIDATOR_REGISTRATIONS,
  useValue: toValidatorRegistrationMap({}),
  multi: true,
};
