import { Component } from '@angular/core';
import { FormbarBlock } from '@ngx-formbar/reactive-forms';
import { <%= classify(interfaceName) %> } from './<%= dasherize(interfaceName) %>.type';

@Component({
  selector: 'app-<%= dasherize(componentName) %>',
  imports: [],
  templateUrl: './<%= dasherize(componentName) %>.component.html',
})
export class <%= classify(componentClassName) %> implements FormbarBlock<<%= classify(interfaceName) %>> {}
