<span [attr.data-testId]="testId()">Group</span>
<span [attr.data-testId]="testId() + '-title'">{{ content()?.title }}</span>
<div [formGroupName]="content().id">
  @for (control of content()?.controls; track control.id) {
    <ngxfw-content-host [content]="control" [registrations]="registrations()" />
  }
</div>

@if (groupInstance?.hasError('duplicates')) {
  <span [attr.data-testId]="testId() + '-validation-error-no-duplicates'"
    >No duplicate values</span
  >
}

@if (groupInstance?.hasError('forbiddenLetterA')) {
  <span [attr.data-testId]="testId() + '-validation-error-forbidden-letter-a'"
    >The letter A is not allowed</span
  >
}

@if (groupInstance?.hasError('async')) {
  <span [attr.data-testId]="testId() + '-validation-error-async'">async</span>
}
