import { AsyncValidatorFn } from '@angular/forms';
import { NGX_FW_ASYNC_VALIDATOR_REGISTRATIONS } from '@ngx-formbar/core';

export const asyncValidatorRegistrationsProvider = {
  provide: NGX_FW_ASYNC_VALIDATOR_REGISTRATIONS,
  useValue: new Map<string, AsyncValidatorFn[]>([
  ])
};
