export { componentRegistrationsProvider } from './component-registrations.ts';<%if (includeSyncValidators){ %>
export { validatorRegistrationsProvider } from './validator-registrations.ts';<% } %><%if (includeAsyncValidators){ %>
export { asyncValidatorRegistrationsProvider } from './async-validator-registrations.ts';<% } %>
