export { componentRegistrations } from './component-registrations.ts';<%if (includeSyncValidators){ %>
export { validatorRegistrations } from './validator-registrations.ts';<% } %><%if (includeAsyncValidators){ %>
export { asyncValidatorRegistrations } from './async-validator-registrations.ts';<% } %>
