import { defineFormbarConfig } from '@ngx-formbar/reactive-forms';

export const formbarConfig = defineFormbarConfig({
  componentRegistrations: {},<%if (includeSyncValidators){ %>, validatorRegistrations: {}
  <% } %><%if (includeAsyncValidators){ %>, asyncValidatorRegistrations: {}
  <% } %>
});

